<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./css/style.css' />
  </head>
  <body>
    <div class="header">
      <div class="left">
        <h1>在线便签</h1>
        <button class="remove">清空便签</button>
      </div>
      <div class="right">
        <button class="add">添加便签</button>
        <span>
          <i class="iconfont icon-user"></i>
        </span>
        <!-- <span class="login-out"><i class="iconfont icon-user"></i></span> -->
      </div>
    </div>
      <div class="main">
        <div class="sign">
          <div class="modal login">
            <div class="modal-login">
              <div class="close">
                <a href="#" class="close">
                  <i class="iconfont icon-close" aria-hidden="true"></i>
                </a>
              </div>
              <div id="tabs">
                <a href="#" class="login active">登录</a>
                <a class="register" href="#">注册</a>
              </div>
              <div id="login-form">
                <div id="errormsg"></div>
                <form action="/login" method="post">
                  <div class="input-field">
                    <i class="iconfont icon-user" aria-hidden="true"></i>
                    <input type="text" name="username" placeholder="用户名">
                  </div>
                  <div class="input-field">
                    <i class="iconfont icon-password" aria-hidden="true"></i>
                    <input type="password" name="password" placeholder="密码">
                  </div>
                  <div class="input-field-btn">
                    <input type="submit" value="登录">
                    <div class="github">
                      <i class="iconfont icon-github"></i>
                      <span>Github登录</span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-register">
              <div class="close">
                <a href="#" class="close">
                  <i class="iconfont icon-close" aria-hidden="true"></i>
                </a>
              </div>
              <div id="tabs">
                <a class="login" href="#">登录</a>
                <a class="register active" href="#">注册</a>
              </div>
              <div id="register-form" class="clearfix">
                <div id="errormsg" class="clearfix"></div>
                <form action="/regiter" method="post">
                  <div class="input-field clearfix">
                    <i class="iconfont icon-user" aria-hidden="true"></i>
                    <input type="text" name="username" placeholder="请设置用户名">
                  </div>
                  <div class="input-field clearfix">
                    <i class="iconfont icon-password" aria-hidden="true"></i>
                    <input type="password" name="password" placeholder="请设置密码">
                  </div>
                  <div class="input-field clearfix">
                    <i class="iconfont icon-password" aria-hidden="true"></i>
                    <input type="password" name="password2" placeholder="请确认密码">
                  </div>
                  <div class="input-field-btn">
                    <input type="submit" value="注册">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="node">
            <span class="delete">
              <i class="iconfont icon-delete"></i>
            </span>
            <div class="sticky"></div>
            <div class="node-content" contenteditable=true></div>
            <div class="node-date"></div>
          </div>
          <div class="node">
            <span class="delete">
              <i class="iconfont icon-delete"></i>
            </span>
            <div class="sticky"></div>
            <div class="node-content" contenteditable=true></div>
            <div class="node-date"></div>
          </div>
          <div class="node">
            <span class="delete">
              <i class="iconfont icon-delete"></i>
            </span>
            <div class="sticky"></div>
            <div class="node-content" contenteditable=true></div>
            <div class="node-date"></div>
          </div>
          <div class="node">
            <span class="delete">
              <i class="iconfont icon-delete"></i>
            </span>
            <div class="sticky"></div>
            <div class="node-content" contenteditable=true></div>
            <div class="node-date"></div>
          </div>
          <div class="node">
            <span class="delete">
              <i class="iconfont icon-delete"></i>
            </span>
            <div class="sticky"></div>
            <div class="node-content" contenteditable=true></div>
            <div class="node-date"></div>
          </div>
        </div>
    </div>
    <div class="footer"></div>
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>
